@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* Global variables */
:root {
    --primary: rgb(61, 106, 242);
    --secondary: #efefefff;
    --content: #fff;
    --accent-lt: #c1d8ffff;
    --accent-md: #a0c4ffff;
    --accent-dk: #73a7ffff;
}